<div clas="container">
  <h1>Home page</h1>
  <p>Place Holder</p>
  <%= link_to "Goals", goal_path, class:"btn btn-secondary" %>
  <%= link_to "Road Map", roadmap_path, class:"btn btn-secondary" %>
  <%= link_to "Backlog", backlog_path, class:"btn btn-secondary" %>
  <%= link_to "Support", support_path, class:"btn btn-secondary" %>
  <%= link_to "Team", team_path, class:"btn btn-secondary" %>
  <%= link_to "Board", board_path, class:"btn btn-secondary" %>
</div>